{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "root": true,
  "rules": {
    "no-cond-assign": "error",
    "no-console": "error",
    "no-constant-condition": "error",
    "no-duplicate-imports": "warn",
    "no-control-regex": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "error",
    "no-empty": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-unsafe-negation": "error",
    "no-sparse-arrays": "error",
    "no-unreachable": "error",
    "default-case": "warn",
    "eqeqeq": "warn",
    "no-caller": "error",
    "no-else-return": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-fallthrough": "error",
    "no-implied-eval": "error",
    "no-labels": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-new": "error",
    "no-proto": "error",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": "error",
    "no-self-compare": "error",
    "init-declarations": ["error", "always"],
    "no-undef": "error",
    "no-undefined": "error",
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "semi": ["error", "never"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "camelcase": ["error", {
      "properties": "always"
    }],
    "comma-spacing": ["warn", {
      "before": false,
      "after": true
    }],
    "indent": ["error", 2],
    "newline-after-var": ["error", "always"],
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "space-before-blocks": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never"
    }],
    "keyword-spacing": "error",
    "max-depth": ["warn", 4],
    "max-len": ["warn", 120, 4, {
      "ignoreComments": true
    }],
    "max-params": ["warn", 7],
    "max-statements": ["warn", 12],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "complexity": ["error", 10],
    "no-trailing-spaces": "error",
    "eol-last": ["error", "always"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["camelCase"]
      },
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE"]
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      },
      {
        "selector": "enumMember",
        "format": ["UPPER_CASE"]
      },
      {
        "selector": "typeProperty",
        "format": ["camelCase", "PascalCase"]
      }
    ],
    "padded-blocks": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "@typescript-eslint/explicit-member-accessibility": "error"
  }
}
